apiVersion: v1
kind: Service
metadata:
  name: web
  namespace: demo
spec:
  type: NodePort            
  selector: { app: web, color: blue }   
  ports:
    - port: 80
      targetPort: 80
      nodePort: 30080
