name: CI
on:
  push:
    branches: [ main ]
    paths:
      - "app/**"
      - ".github/workflows/ci.yml"

jobs:
  test-build-push:
    runs-on: ubuntu-latest
    env:
      IMAGE: ${{ secrets.DOCKERHUB_USERNAME }}/bluegreen-demo
    steps:
      - uses: actions/checkout@v4

      - name: Python test
      - uses: actions/setup-python@v5
        with: { python-version: "3.11" }
      - run: |
          pip install -r app/requirements.txt
          pytest -q

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: app
          push: true
          tags: |
            ${{ env.IMAGE }}:${{ github.sha }}
            ${{ env.IMAGE }}:latest

      - name: Set image tag output
        id: meta
        run: echo "tag=${{ github.sha }}" >> $GITHUB_OUTPUT
